body {
    font-family: "Roboto", sans-serif;

    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;

    display: flex;
    flex-direction: column;
    padding: 20px 150px;
}

.header-top, .header-bottom {
    display: flex;
    justify-content: space-between;

    padding-bottom: 100px;
}

.header-bottom {
    flex-wrap: wrap;
    width: 450px;
}

#image1 {
    flex-wrap: nowrap;
}

.logo {
    font-size: 24px;
    color: #F9FAF8
}

.awesome {
    font-size: 48px;
    font-weight: bold;
}

.header img {
    height: 200px;
    width: auto; 
}

button {
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: none;
}

.header-text {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display:flex;
    gap: 10px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.info {
    max-width: 200px;
}

.info img {
    width: 200px;
}

.quote {
    background-color: #E5E7EB;
    color:#1F2937;
    font-size: 36px;
    font-style: italic;

    

}
.quote .author {
    font-size: 18px;
}